html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

.body {
  background-image: url("../images/landscapecalc.png");
  background-size: cover;
  background-repeat:repeat-y;
  }